<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>

     <link href="{{ url_for('static', filename= 'input.css') }}" rel="stylesheet">

</head>
<body>
     <div class="container">
		 <h2 id="content1" style="color:#000fff; margin-left:8px;">Your  Postfix Expression -</h2>
		 <h2 id="content1" style="color:red; margin-left:8px;"> {{ postfix  }}</h2>
     </div>
 
</body>
</html>