*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.sheet{
    width: 100%;
    text-align: center;
}
input{
    display: none;
}
.font{
    font-size: 40px;
    margin-left: -220px;
    margin-bottom: -115px;
}
h1{
    font-weight: normal;
    font-size:50px;
    position: relative;
    margin: 60px 0;
}
h2{
    font-weight: normal;
    font-size: 30px;
    position: relative;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: rgb(146, 146, 146);
    bottom: -1px;
    left: 50%;
    width: 10%;
    transform: translate(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 70px;
    }
    50%{
        width: 140px;
    }
    100%{
        width: 70px;
    }
}
h2::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: red;
    bottom: -2px;
    left: 50%;
    width: 23.5%;
    transform: translate(-50%);
    animation: animate1 4s linear infinite;
}
@keyframes animate1{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.heading{
    background-color: rgb(214, 212, 212);
    color: rgb(102, 102, 102);
    width: 100%;
    margin: auto;
    margin: 10px auto 30px auto;
    height: 50px;
    display: flex;
    align-items: center;
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 40px;
    line-height: 50px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    transition: .5s;
}
label:hover{
    color: black;
}
.nebula-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
}
.pic{
    position: relative;
    height: 225px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 2px rgba(228, 226, 226, 0.685);
    cursor: pointer;
    transition: .5s;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.pic::before{
    content: "All Photos";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: -100%;
    opacity: 0;
    transition: .1s;
    transition-delay: 0s;
    z-index: 1;
    border-radius: 10px;
}
.pic::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    background-color:rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    bottom: 0;
    left: 0;
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
#a1:checked ~ .sheet .nebula-gallery .pic{
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: .5s;
}
#a2:checked ~ .sheet .nebula-gallery .nebula{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#a2:checked ~ .sheet .nebula-gallery .galaxy,
#a2:checked ~ .sheet .nebula-gallery .black{
    transform: scale(0);
    position: absolute;
    opacity: 0;
    transition: 0s;
}

#a3:checked ~ .sheet .nebula-gallery .galaxy{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#a3:checked ~ .sheet .nebula-gallery .nebula,
#a3:checked ~ .sheet .nebula-gallery .black{
    transform: scale(0);
    position: absolute;
    opacity: 0;
    transition: 0s;
}

#a4:checked ~ .sheet .nebula-gallery .black{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#a4:checked ~ .sheet .nebula-gallery .galaxy,
#a4:checked ~ .sheet .nebula-gallery .nebula{
    transform: scale(0);
    position: absolute;
    opacity: 0;
    transition: 0s;
}

